# Comprimir archivos html, texto plano, xml, css y javascript para reducir tiempo de carga.
#AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/x-javascript

Options +FollowSymlinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ocultar las extensiones de archivos .php
RewriteRule ^(.*)$ $1.php

# Redireccionar cuando no posea permisos de ver un directorio
ErrorDocument 403 http://localhost/ingnovarq/app/view/error

# Redireccionar cuando no se encuentre una página web
ErrorDocument 500 http://localhost/ingnovarq/app/view/error

# Evita que se listen los archivos en los directorios
# Options -Indexes
# Evita que se listen los archivos  php, html, js, png, jpg
# IndexIgnore *.php *.html *.js *.png *.jpg



# (Url Amigables) Configuración para acceder a los sitios principales escribiendo así: ingnovarq.com.co/nosotros 
RewriteRule ^inicio.*$ http://localhost/ingnovarq/app/view/inicio [R=301,L]
RewriteRule ^nosotros.*$ http://localhost/ingnovarq/app/view/nosotros [R=301,L]
RewriteRule ^proyectos.*$ http://localhost/ingnovarq/app/view/proyectos [R=301,L]
RewriteRule ^servicios.*$ http://localhost/ingnovarq/app/view/servicios [R=301,L]
RewriteRule ^contacto.*$ http://localhost/ingnovarq/app/view/contacto [R=301,L]
RewriteRule ^administrador.*$ http://localhost/ingnovarq/app/view/administrador [R=301,L]